table {
    border: 1px solid black;
}

td,
th {
    border: .5px solid black;
    padding: 5px;
}

#scorte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titoli_tabelle___medicine {
    margin-top: 50px;
    margin-bottom: 2px;
}

.legenda {
    margin: 2px;
    font-size: 10px;
}

.titoli_legenda {
    margin: 3px;
    font-size: 13px;
}